:root {
    --color-1: #efb810;
    --color-2: #222222;
    --color-3: #404040;
    --color-4: #d0cdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background: var(--color-2);
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
}

.nav-logo img {
    width: 50px;
}
.navbar {
    background: var(--color-3);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-right: 10px;
}
.nav-logo {
    margin: 15px;
    display: flex;
}

.nav-items a {
    margin: 10px;
    color: var(--color-1);
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.img-hero img {
    width: 100%;
    padding: 20px;
}

.hero-container {
    width: 100%;
    height: auto;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 80px;
}

.contenido h3 {
    font-size: 15px;
    color: var(--color-4);
}

.contenido h1 {
    font-size: 55px;
    color: var(--color-1);
}

.contenido p {
    font-size: 25px;
    color: var(--color-4);
    text-transform: uppercase;
}

.contenido button {
    margin-top: 20px;
    align-items: center;
    width: 160px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-1);
    color: var(--color-2);
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

footer {
    background: var(--color-3);
    width: 100%;
    height: auto;
}
.footer-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-cont {
    color: var(--color-4);
    align-self: center;
    text-align: center;
    padding: 20px;
}

.design {
    color: var(--color-4);
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .nav-items {
        position: absolute;
        top: 70px;
        background: var(--color-3);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: 0.8s all;
    }
    .nav-toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }
    .nav-toggle span {
        width: 30px;
        height: 4px;
        background: var(--color-1);
        margin-bottom: 5px;
        border-radius: 2px;
    }

    .open {
        transform: translateX(0%);
        transition: 0.8s all;
    }

    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
        align-content: start;
    }

    .img-hero img {
        width: 80%;
        padding: 20px;
    }

    .contenido {
        text-align: -webkit-left;
    }

    .contenido p {
        font-size: 20px;
    }

    .footer-conteiner{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }
}